@model IEnumerable<BlogWebApp.Models.PostViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Add a new post</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Date
            </th>
            <th>
                Author
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Post.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post.Author.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Post.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Post.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Post.Id">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>


